div {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-family: "Karla", sans-serif;
  width: 700px;
  margin: auto;
  padding: 7px;
}
div > main {
}
div > main > h2 {
  color: #3eb7b7;
}
div > main > h3 {
  color: #bcdd3e;
}
div > main > p {
  color: #afb1b9;
}
div > div.down {
  display: flex;
}
div > div.down > aside {
  background-color: #3eb7b7;
  color: white;
  margin: 2px;
  flex: 1;
}
div > div.down > aside > h4 {
}
div > div.down > aside > p {
}
div > div.down > aside > p.special {
}
div > div.down > aside > a {
  text-decoration: none;
  color: white;
  background-color: green;
  padding: 7px;
  text-align: center;
}
div > div.down > footer {
  background-color: #90dbdc;
  color: white;
  margin: 2px;
  flex: 1;
}
div > div.down > footer > h4 {
}
div > div.down > footer > p {
}
