div {
  border: solid 1px;
  font-family: "Karla", sans-serif;
}
div > main {
}
div > main > h2 {
  color: #3eb7b7;
}
div > main > h3 {
  color: #bcdd3e;
}
div > main > p {
  color: #afb1b9;
}
div > aside {
  background-color: #3eb7b7;
  color: white;
  display: inline-block;
  border: 1px solid blue;
  margin: 2px;
}
div > aside > h4 {
}
div > aside > p {
}
div > aside > p.special {
}
div > aside > a {
  text-decoration: none;
  color: white;
}
div > footer {
  background-color: #90dbdc;
  color: white;
  display: inline-block;
  border: 1px solid blue;
  margin: 2px;
}
div > footer > h4 {
}
div > footer > p {
}
