body > div {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-family: "Karla", sans-serif;
  width: 700px;
  margin: auto;
  padding: 7px;
}
div > main {
}
div > main > h2 {
  color: #3eb7b7;
}
div > main > h3 {
  color: #bcdd3e;
}
div > main > p {
  color: #afb1b9;
}
div > div.down {
  display: flex;
}
div > div.down > aside {
  background-color: #3eb7b7;
  color: white;
  flex: 1;
  padding-left: 15px;
}
div > div.down > aside > h4 {
}
div > div.down > aside > p {
}
div > div.down > aside > p.special {
}
div > div.down > aside > a {
  text-decoration: none;
  color: white;
  background-color: #bddd3d;
  padding: 10px;
  padding-left: 75px;
  padding-right: 75px;
  text-align: center;
  margin-left: 60px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 50px;
}
div > div.down > footer {
  background-color: #90dbdc;
  color: white;
  flex: 1;
  padding-left: 15px;
}
div > div.down > footer > h4 {
}
div > div.down > footer > p {
}
